<div class="card">
    <a href="/post/{{id}}">
        <h2>{{title}}</h2>
        <div class="postContent">
            <p>{{body}}</p>
            <p>Posted by {{User.username}} on {{date}}</p>
        </div>
    </a>
</div>